.page-container {
    background-image: url('../../assets/propose.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 500px;
    position: relative;
    padding-top: 175px;
  }
  
  .content-container:after {
    content: "";
    position: absolute;
    left:0;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 0;
  } 
  
  .content-container {
    padding: 25px 50px;
    margin: 0 auto;
    text-align: center;
    max-width: 760px;
    height: auto;
    position: relative;
  }
  
  .content-container h1 {
    font-size: 46px;
    font-weight: bold;
    color: black; 
    position: relative;
    z-index: 1;
    margin: 0 0 4px;
  }
  
  .content-container p {
    font-size: 28px;
    font-weight: 400;
    color: black;
    position: relative;
    z-index: 1;
    margin: 0;
  }
  h2 {
    font-size: 32px;
    font-weight: 600;
  }
  p {
    font-size: 16px;
    font-weight: 400;
  }

/**** landlords ******/
  .landlords h3 {
    font-size: 18px;
    font-weight: 600;
  }
  .landlords img {
    height: 59px;
    width: auto;
  }
  .landlords .row {
    margin-left: -20px;
    margin-right: -20px;
}
  .landlords .row .col-md-4 {
    padding-left: 20px;
    padding-right: 20px!important;
}
/**** process *****/
.process-content {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.vertical-line {
  height: 550px;
  background: #A0A9B2;
  width: 1px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
}
.col-left {
  width: calc(50% - 100px);
  text-align: right;
  position: relative;
  padding-left: 75px;
}
.col-right {
  width: calc(50% - 100px);
  text-align: left;
  position: relative;
  padding-right: 75px;
}
.process-content .image {
  border: 1px solid #DDDDDD;
  height: 94px;
  width: 94px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.process-content .image img {
  height: 50px;
  width: auto;
}
.process-content .text {
  width: calc(100% - 118px);
}
.box h3 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  margin: 0 0 6px;
}
.box p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}
.col-left .box {
  display: flex;
  gap: 24px;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
}
.col-right .box {
  display: flex;
  gap: 24px;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.col-left .box.first {
  margin-top: 100px;
  margin-bottom: 123px;
}
.hline {
  width: 100px;
  height: 1px;
  background: #DDDDDD;
  position: absolute;
  right: -100px;
  top: 50%;
  transform: translateY(-50%);
}
.col-right .hline {
  left: -100px;
  right: inherit;
}
.circle {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background: #A0A9B2;
  position: absolute;
  margin: -3px -3px;
}
.col-right .box.first {
  margin: -20px 0 123px;
}
.col-right .box.second {
  margin: 0 0 120px;
}
/**** *****/
  .page2-container {
    background-image: url('../../assets/Groupe\ 1320\ 2.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 400px;
    position: relative;
  }
  .content2-container:after {
    content: "";
    position: absolute;
    left:0;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 0;
  } 
  
  .content2-container {
    padding: 40px 40px 40px 40px;
    margin: 56px 237px;
    width: 760px;
    height: 272px;
    position: relative;
    border-radius: 6px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);

    
  }
  .content2-container h1 {
    font-size: 32px;
    font-weight: 600;
    color: black; /* Couleur du texte (noir) */
    position: relative;
    z-index: 1;
  }
  
  .content2-container p {
    font-size: 16px;
    font-weight: 400;
    color: black; /* Couleur du texte (noir) */
    position: relative;
    z-index: 1;
  }
  .button-black {
    background-color: #000 !important; /* Couleur de fond noire */
    color: #fff; /* Couleur du texte blanche */
    width: 261px;
    height: 40px;
     border-radius: 6px;
    border: none; /* Supprimer la bordure */
    cursor: pointer; /* Curseur de souris en forme de main sur le bouton */
   position: absolute;
    z-index: 1; /* Augmenter la valeur du z-index */
  }
  .badge2{
    position: relative;
    left: -5%;
    top: 94%;
    text-align: center;
    border-radius: 6px;
    color: white;
    padding: 13px 4px;
    font-size: 14px;
    font-weight: 400;
    width:180px;
    height: 40px;
    background-color: black !important;
    
}
.badge3{
  position: relative;
  right: -76%;
  top:5%;
  text-align: center;
  border-radius: 6px;
  color: white;
  padding: 13px 4px;
  font-size: 14px;
  font-weight: 400;
  width:180px;
  height: 40px;
  background-color: black !important;
}

@media (max-width:1200px){
  .content2-container{
    margin: 56px 20px;
  }
  .badge3 {

    right:0%;
  }
  .badge2{
    left:0%;
  }

}
@media (max-width:808px){
  .content2-container {
    margin: 56px 35px;
    width: 568px;
    height: 283px;
}
}
@media (max-width:768px){
  .content2-container {
    margin: 35px 145px;
    width: 442px;
    height: 324px;
  }
}
  @media(max-width:772px){
   .content-container{
    margin: 112px auto;
    width: 584px;
    height: 265px;
   }
  }
@media(max-width:642px){
  .content-container{
    margin: 54px auto;
    width: 348px;
    height: 371px;
  }
  .content2-container{
    margin: 7px 1px;
    width: 306px;
    height: 371px;
    padding: 20px 20px 20px 20px;
  }
}
@media(max-width:300px){
  .content-container{
    margin: -1px auto;
    width: 311px;
    height: 476px;
  }
}
