.page-container {
    background-image: url('../../assets/propose.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 500px;
    position: relative;
  }
  
  .content-container:after {
    content: "";
    position: absolute;
    left:0;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 0;
  } 
  
  .content-container {
    padding: 30px 50px 40px;
    margin: 177px auto;
    text-align: center;
    width: 760px;
    height: 150px;
    position: relative;
    
  }
  
  .content-container h1 {
    font-size: 46px;
    font-weight: bold;
    color: black; /* Couleur du texte (noir) */
    position: relative;
    z-index: 1;
  }
  
  .content-container p {
    font-size: 28px;
    font-weight: 400;
    color: black; /* Couleur du texte (noir) */
    position: relative;
    z-index: 1;
  }
  .container h2{
    font-size: 32px;
    font-weight: 600;
  }
  .container p{
    font-size:16px;
    font-weight:400;
  }
  .container h5{
    font-size: 18px;
    font-weight: 600;
  }
  .container p1{
    font-size: 20px;
    font-weight: 400;
  }
  .vline {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
  }
  
  .vertical-line {
    border-left: 1px solid rgba(160, 169, 178, 1);
    height: 100%;
  }
  
  .horizontal-lines {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
  }
  .horizontal-linesr {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
  }
  .horizontal-lines-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Espace autour de chaque ligne horizontale */
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .horizontal-line {
    width: 100px;
    height: 1px;
    background-color: rgba(160, 169, 178, 1);
    position: relative;
  }
  .horizontal-lines::after {
    content: "";
    width: 7px; 
    height: 7px; 
    background-color: rgba(160, 169, 178, 1);
    border-radius: 50%;
    position: absolute;
    left: -5px;
    top: 50%; 
    transform: translateY(-50%); 
  } 
  
  .page2-container {
    background-image: url('../../assets/Groupe\ 1320\ 2.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 400px;
    position: relative;
  }
  .content2-container:after {
    content: "";
    position: absolute;
    left:0;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 0;
  } 
  
  .content2-container {
    padding: 40px 40px 40px 40px;
    margin: 56px 237px;
    width: 760px;
    height: 272px;
    position: relative;
    border-radius: 6px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);

    
  }
  .content2-container h1 {
    font-size: 32px;
    font-weight: 600;
    color: black; /* Couleur du texte (noir) */
    position: relative;
    z-index: 1;
  }
  
  .content2-container p {
    font-size: 16px;
    font-weight: 400;
    color: black; /* Couleur du texte (noir) */
    position: relative;
    z-index: 1;
  }
  .button-black {
    background-color: #000 !important; /* Couleur de fond noire */
    color: #fff; /* Couleur du texte blanche */
    width: 261px;
    height: 40px;
     border-radius: 6px;
    border: none; /* Supprimer la bordure */
    cursor: pointer; /* Curseur de souris en forme de main sur le bouton */
   position: absolute;
    z-index: 1; /* Augmenter la valeur du z-index */
  }
  .badge2{
    position: relative;
    left: -5%;
    top: 94%;
    text-align: center;
    border-radius: 6px;
    color: white;
    padding: 13px 4px;
    font-size: 14px;
    font-weight: 400;
    width:180px;
    height: 40px;
    background-color: black !important;
    
}
.badge3{
  position: relative;
  right: -76%;
  top:5%;
  text-align: center;
  border-radius: 6px;
  color: white;
  padding: 13px 4px;
  font-size: 14px;
  font-weight: 400;
  width:180px;
  height: 40px;
  background-color: black !important;
}

@media (max-width:1200px){
  .content2-container{
    margin: 56px 20px;
  }
  .badge3 {

    right:0%;
  }
  .badge2{
    left:0%;
  }

}