.Feedback-container{
    width: 80%;
    margin: auto;
    padding: 40px 0;
}

.Feedback-container h3 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}
.feedback-icons-li{
    display: flex;
    gap: 30px;
}