.Feedback-container{
    width: 80%;
    margin: auto;
    padding: 40px 0;
}

.Feedback-container h3 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}
.feedback-icons-li{
    display: flex;
    gap: 30px;
}


@media screen and (min-width: 1900px) {
    .Feedback-container h3{
        font-size: 44px;
        line-height: 40px;
    }

    .feedback-icons-content{
        font-size: 28px;
    }
  }
