.Explore-container{
    position: relative;
}

.Explore-container h2{
    font-size: 32px;
    font-weight: 400;
}

.Explore-container p{
    font-size: 16px;
    font-weight: 400;
}



.Explore-more-countries-content h3{
    font-size: 18px;
    font-weight: 600;
}

.Explore-more-countries-content p{
    font-size: 14px;
    font-weight: 400;
}

.Pictures-countries{
    position: relative;
    width: 100%; 
    text-align: center; 
}
.img-responsive {
    max-width: 100%;
    height: auto;
  }

.Room-content{
    width: 88px;
    justify-content: space-between;
}

.Room-content p{
    margin: 0;
}

/* for mobile screens */
@media (max-width: 600px) {
    .Explore-container h2{
        font-size: 26px;
        font-weight: 400;
    }

    .Explore-container p{
        font-size: 14px;
        font-weight: 400;
    }

}
.react-multi-carousel-item {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    margin: 0 0px;
}
.carousel-container button.react-multiple-carousel__arrow {
    display: none !important;
  }

  
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
  }
.arrow-icon {
    font-size: 32px; 
    margin: 0 15px; 
    cursor: pointer;
    color: black;
  }
  .carousel-container {
    max-width: none; 
  }