.Book-container{
    gap: 40px;
    flex-direction: column;
    padding: 2rem;
}

.Book-container .row {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 6px;
    padding: 1rem;
}


.Book-container-heading {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0;
}

.Progress-paragraph p{
   font-size: 16px;
   font-weight: 400;
   margin: 0;
}

.Payments-steps span{
    font-size: 16px;
    font-weight: 600;
 }

 .Payments-steps p,
 .Fee p,
 .Fee span{
    font-size: 14px;
    font-weight: 400;
 }

 .Fee {
    color: red;
 }

.progresses{
    display: flex;
    align-items: center;
}

.line{

    width: 20px;
    height: 20px;
    border-right: 2px dashed black;
    display: block;
}

   
.steps{

    display: flex;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}