.NavBar-container {
    display: flex;
    justify-content: space-around;
    justify-items:center;
    padding: 20px;
    /* position: fixed; */
    width: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.List-container {
    display: flex;
}

.List-items {
    list-style: none;
    margin-left: 30px;
    padding: 10px;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.List-items:hover {
  background-color: black;
  border-radius: 10px;
  color: white;
}