.Intro-container{
    margin-bottom: 120px;
}
.Banner-image{
  width: 100%;
  height: auto;
}

.Content-container{
    opacity: 0.9;
    background-color: #00000066;
    padding: 30px;
    width: 47%;
    margin-left: 27%;
    margin-top: -22%;
    border-radius: 4px;
}

.Content-container h2 {
    font-size: 33px;
    font-weight: 600;
    line-height: 60px;
}

.Content-container h2,
.Content-container h3{
    color: white;
    letter-spacing: 2px;
    text-align:center ;
}

.Input-container{
    background-color: white;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 100%;

}

.List-select{
    position: relative;
}

.Select-country-container,
.Movie-date{ 
    padding: 11px;
    border-radius: 4px;
    width: 100%;
}

input[type="date"]::before { 
  content: attr(data-placeholder);
  width: 100%;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }

.Search-btn {
    outline: none;
    border: none;
    padding: 11px;
    color: white;
    background-color: black;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
}


.Input-container div {
    width: 100%;
}


@media screen and (max-width: 1440px) {
  .Intro-container{
    margin-bottom: 345px;
  }
}

@media screen and (width: 1024px) {
    .Content-container {
        padding: 19px;
        width: 70%;
        margin-left: 19%;
        margin-top: -26%;
    }
  }


  @media screen and (min-width: 1900px) {
    .Intro-container{
      margin-bottom: 345px;
    }

  }
  