/* Styles pour le PopupAlert */
.popup-container.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Assurez-vous qu'il est au-dessus des autres éléments */
}

.popup-content {
  width: 774px; /* Largeur souhaitée */
  height: 544px; /* Hauteur souhaitée */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 20px;
  text-align: left !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.popup-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.popup-content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.popup-content button {
  background-color:black;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 52px;
  cursor: pointer;
}


.form-label{
  font-size: 18px;
  font-weight: 600;
  color: #000;
}
/* PopupAlert.css */
.circle {
  width: 80px;
  height: 80px;
  background-color:white; /* Couleur de fond du cercle */
  border-radius: 50%; /* Crée un cercle en arrondissant les coins */
  position: absolute;
  top:5%;
  left: 50%; /* Déplace le cercle à mi-chemin horizontalement */
  transform: translateX(-50%); /* Ajuste la position horizontale au milieu */
  z-index: 1; /* Place le cercle au-dessus du contenu */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* PopupAlert.css */
.popup-container {

  display: none;

}


.popup-container.closed {
  display: none; /* Masquez le popup lorsque isPopupOpen est faux */
}
