.Faq-container{
    width: 100%;
    background-color: #383838;
    color: white;
    text-align:center;
    padding: 40px 0 0 0;
    height: 150px;
}

.Faq-container h3 {
    font-size: 32px;
    font-weight: 600;
}

.Faq-container p {
    font-size: 18px;
    font-weight: 400;
}

.Faq-btn {
    position: relative;
    outline: none;
    border: none;
    padding: 10px;
    color: black;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 999;
    top: -20px;
    left: 40%;
}

.Faq-btn img {
    width: 10%;
    margin-left: 20px;
}



  @media (max-width:600px) {
    .feedback-icons-li {
        flex-direction: column;
    }

    .Faq-container h3 {
        font-size: 25px;
    }
    
    .Faq-container p {
        font-size: 12px;
    }

    .Faq-btn{
        left: 20%
    }

    .Faq-container{
        padding: 20px;
    }
  }
