.Faq-container{
    width: 100%;
    background-color: #383838;
    color: white;
    text-align:center;
    padding: 40px 0 0 0;
    line-height: 40px;
}

.Faq-container h3 {
    font-size: 32px;
    font-weight: 600;
}

.Faq-container p {
    font-size: 18px;
    font-weight: 400;
}

.Faq-container button {
    outline: none;
    border: none;
    padding: 10px;
    color: black;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 999;
}