.Contact-container{
    background-image: url("../../assets//woman-working-while-sitting-sofa\ 1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    z-index: -9999;
    margin: 0;
}

.Contact-container form {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 50px;
    background-color: white;
    border-radius: 8px;
}

.Contact-container form h3 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.Contact-container form span {
    font-size: 22px;
    font-weight: 600;
    line-height: 100px;
}

.Contact-container form label {
    font-size: 18px;
    font-weight: 600;
}

.react-tel-input .form-control {
    width: 100%;
}

