.list-icons-container {
    align-items: center;
}


.list-icons-container img {
    width: 61px;
    margin-right: 28px;
}

.list-icons{
    align-items: center;
}

.Icons-container h3 {
    font-size: 32px;
    font-weight: 600;
}

.Icons-container p {
    font-size: 18px;
    font-weight: 400;
}



/* for mobile screens */
@media (max-width: 600px) {
    .Explore-container h2{
        font-size: 26px;
        text-align: center;
    }

    .Explore-container p {
        line-height: 28px;
        text-align: center;
    }
    
}

