.list-icons-container {
    width: 80%;
    display: flex;
    margin:auto;
    align-items: center;
    justify-content: space-between;
    padding: 40px  0;
}

.list-icons-container li {
    list-style: none;
}

.list-icons-container li img {
    width: 61px;
}

.list-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.Icons-container h3 {
    font-size: 32px;
    font-weight: 600;
}

.Icons-container p {
    font-size: 18px;
    font-weight: 400;
}


@media screen and (min-width: 1900px) {
    .list-icons-container li img {
        width: 98px;;
    }

    .Icons-container h3{
        font-size: 44px;
    }

    .Icons-container p{
        font-size: 22px;
    }
  }


