.Apartements h3,
.Useful-links h3,
.Create-alert h3 {
    font-size: 18px;
    text-align: start;
    font-weight: 600;
    margin-top: 10px;
}

.Apartements p,
.Useful-links p {
    font-size: 16px;
    font-weight: 400;
    text-align: start;
    line-height: 30px;
}

.Create-alert button {
   outline: none;
   border: none;
   font-size: 16px;
   color: white;
   border-radius: 10px;
   background-color: black;
   padding: 10px;
}


.Copyright {
    text-align: center;
    margin: 12px;
    font-size: 16px;
    font-weight: 400;
}

.Footer-container-mobile{
    display: none;
}

.Footer-container{
    display: flex;
  }
    

@media (max-width: 991px) {
  .Footer-container-mobile {
    display: block;
  }

  .Footer-container{
    display: none;
  }
    
}

