.flex-none{
    flex-wrap: nowrap;
}
.Pictures-countries {
  position: relative;
}

.infoRoom {
  position: relative;
  top: 100%; 
  left: 5%; 

}

  /* for mobile screens */
   /* @media (max-width: 808px) {
    .Pictures-countries img {
     width: 50%;
     }
   }.infoRoom{  
    position: relative;
    top: 100%;
    left: 40%;
   
    
    
  } */
.img-responsive{
  width:310px;
  height:347px;
} 
@media (max-width: 992px){
  .infoRoom {
    position: relative;
    top: 100%;
    left: 2%;
    transform: translateX(10px);
  }
}
 
@media (max-width: 808px) {
  .Pictures-countries {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    
  }
  
  .infoRoom {
    position: relative;
    margin-top: 10px; 
    text-align: center; 
    margin-left: 20%;
    margin-right: 20%;
  
  }
  
}

   