.Footer-container{
    padding: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 12px;
}

.Footer-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

.Apartements h3,
.Useful-links h3,
.Create-alert h3 {
    font-size: 18px;
    text-align: start;

}

.Apartements p,
.Useful-links p {
    font-size: 16px;
    font-weight: 400;
    text-align: start;
    line-height: 30px;
}

.Create-alert button {
   display: flex;
   align-items: center;
   outline: none;
   border: none;
   padding: 14px;
   font-size: 16px;
   color: white;
   border-radius: 10px;
   background-color: black;
   margin-top: 18px;
}

.Create-alert button img {
    margin-right: 12px;
}

.Copyright {
    text-align: center;
    margin: 12px;
    font-size: 16px;
    font-weight: 400;
}


@media screen and (min-width: 1900px) {
    .Apartements p, .Useful-links p {
        font-size: 25px;
        line-height: 40px;
    }

    .Apartements h3, .Useful-links h3, .Create-alert h3{
        font-size: 30px;
    }

    .Create-alert button{
        font-size: 25px;
    }

    .Copyright{
        font-size: 20px;
    }
  }


