.Booking-content h2{
   font-weight: 600;
   font-size: 32px;
}

.Booking-content span {
  font-size: 18px;
  font-weight: 400;
}

.Booking-content-application{
  justify-content: space-between;
  width: 42%;
  margin-top: 50px;
}

.Booking-content-application h3{
  font-size: 28px;
  font-weight: 400;
}

.Input-disabled {
  outline: none;
  padding: 12px;
  border: 1px solid #DFDFDF;
  font-size: 18px;
  font-weight: 400;
  border-radius: 6px;
  margin-bottom: 22px;
}

.Booking-content form label,
.Booking-content-heading {
   font-size: 18px;
   font-weight: 600;
}

.thinking-container{
  margin-bottom: 80px;
}

.thinking-container span{
 font-size: 16px;
 font-weight: 400;
}

// upload

.input-section {
  display: flex;
  flex-direction: column;
}

.input-container {
  padding: 1rem;
  border: 1px dashed #ccc;
  border-radius: 6px;
  background-color: #fff;
  position: relative;
}

.sub-inputs {
  display: flex;
}

.uploaded-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.uploaded-pdf {
  margin-top: 10px;
  font-size: 14px;
}


.file-input input[type="file"] {
  opacity: 0;
  position: absolute;
  top: 0;
  height: 100px;
  width: 20%;
}


