.Faq-content{
    margin-bottom: 50px;
}

.Faq-content h1{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 47px;
}


.nav-item{
    width: 50%;
    margin-bottom: 20px;
}

.nav-link{
   width: 100%;
}

.nav-tabs .nav-link.active{
    border-bottom: 2px solid #000000;
    width: 100%;
    border-right: none;
    border-top: none;
    border-left: none;
}


.nav-tabs .nav-link:hover{
    border-right: none;
    border-top: none;
    border-left: none;
}

.nav-tabs:focus,
.nav-link:focus{
    color: #A0A9B2;
}