.FaqpagesContainer{
    cursor: pointer;
}
.bloc-tabs>div,
.TitlesRenting h2,
.subTitlesRenting h4{
    font-size: 18px;
    font-weight: 400;
}

.active-tabs{
    border-bottom: 2px solid black;
}

.tabs{
    color: #A0A9B2;
    border-bottom: 2px solid #A0A9B2;
}


.content {
    display: none;
}
.content-active{
    display: block;
}

.TitlesRenting {
    border: 2px solid #DDDDDD;
    border-radius: 6px;
}

.TitlesRenting span{
    color: #DDDDDD;
}

.subTitlesRenting {
   background-color: #F5F5F5
}

