.FaqpagesContainer{
    cursor: pointer;
}
.bloc-tabs>div,
.TitlesRenting h2
 {
    font-size: 18px;
    font-weight: 400;
}
.subTitlesRentingActive h4,
.subTitlesRenting h4
{
    font-size: 16px;
    font-weight: 400;
}

.active-tabs{
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.tabs{
    color: #A0A9B2;
    border-bottom: 2px solid #A0A9B2;
}


.content {
    display: none;
}

.subAnswers{
    position: relative;
    top: 7px;
    left: 0;
    margin-top: 0;
    
}

.collapseRenting
 {
    position: relative;
    border: 1px solid #DDDDDD;
    border-radius: 6px;

}


.subTitlesRentingActive {
   background-color: #F5F5F5;
   margin-left: -48px;
}

.test {
    position: absolute;
    right: -48px;
    top: 0 ;
    height: 100%;
    background-color: #F5F5F5;
    max-width: 80%;
    width: 60%;
    padding: 10px;
}

.icon {
    fill: #DDDDDD;
  }

.TitlesRenting {
    background-color: white;
}

@media (max-width: 991px) {

  
    .test {
        position: relative;
        right: -48px;
        top: 0 ;
        height: 100%;
        background-color: #F5F5F5;
        max-width: 80%;
        width: 60%;
        padding: 10px;
    }
    .subTitlesRentingActive {
       margin-right: -48px;
     }
    .fleche{
        display:inline-block  !important;
        font-size: 24px;
        font-weight: bold;
        color: black;
    }
    .subTitlesRentingActive h4,
    .subTitlesRenting h4{
        font-weight: bold;
    }
  }

.arrow{
    color: rgb(162 162 173);
    font-size: 25px;
}
@media (max-width: 767px) {
    .bloc-tabs {
        display: flex;
        flex-direction: row;
       
        align-items: center;
    }
    
    .bloc-tabs > div {
        flex: 0 0 50%;
        width: 48%; /* Ajustez la largeur des colonnes selon vos besoins */
        margin: 0;
       
    }
}
.fleche{
    display:none;

}